body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background: #ffd90f;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}


.grid-karet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 30px;
}


.karta {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    text-align: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.karta img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.karta:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
}

.karta:hover img {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background: #ffd90f;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


footer {
    text-align: center;
    padding: 15px;
    background: #f2f2f2;
    margin-top: 40px;
}
